* {
  padding: 0;
  margin: 0;
}



li {
  list-style: none;
}

.white-text {
  color: white;
}

h1,
h3,
h3,
h4,
h5,
h6,
img,
nav,
button,
p,
ul,
li,
footer {
  padding: 0;
  margin: 0;
}

.black-text {
  color: black;
}

body {
  max-width: 2500px
  background: white;
  margin: 0;
}


.navigation {
  padding-top: 25px ;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-container {
  gap: 10px;
  display: flex;
  justify-content: start;
}

.nav-menu {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  
}

.menu-item {
 
}

.logo {
  height: 40px;
  width: 40px;
  
}

.find-trend {
  display: flex;
  align-items: center;
}



.white-text {
  color: white
}

.btn-wrapper{
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
}

.register-btn-wrapper {
  
  
 

}

.register-btn {
    text-align: center;
    
    padding-top: 10px;
    background: white;
    height: 28px;
    width: 130px;
    border-radius: 20px;
}


.hero-background {
  background: url("https://i.ibb.co/kyGPSPY/Bg-hero-bkground.png") no-repeat
    center center;

  background-size: cover;
  height: 600px;
  max-width: 100%;
}

.font-color {
  color: gray;
}

.center-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headline-bottom-margin {
  margin-bottom: 20px;
}

.font-margin-headline {
  margin-right: 50px;

  font-size: 64px;
}

.tabs-description.first-line {
  padding-top: 5px;
}

.tabs-description.second-line {
  margin-top: 3px;
}

.get-started-btn {
  margin-top: 30px;
  text-align: center;
  top: -10px;
  padding-top: 10px;
  background: #a8ff35;
  height: 28px;
  width: 130px;
  border-radius: 20px;
  margin-right: 75px;
}

.open-new-tabs {
  background: #a8ff35;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-tabs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline-open-new-tabs {
  font-size: 64px;
}

.white-rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  height: 200px;
  width: 450px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 20px;
}

.black-rectangle {
  display: flex;
  justify-content: center;
  background: black;
  height: 80px;
  width: 300px;
}

.rectangle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightning-two {
}

.rectangle-text {
  position: relative;
  margin-left: 5px;
}

.fader {
  position: absolute;
  top: 0;
  right: 0;

  width: 46px;
  height: 30px;
  border-radius: 5px;

  background: linear-gradient(
    to right,
    rgba(30, 30, 30, 0.81),
    rgba(0, 0, 0, 1)
  );
}

.product-font {
  font-size: 32px;
}

.description-container {
  padding-top: 100px;
        margin-bottom: 300px;

}

.product-container {
    display: flex;
    max-width: 2000px;
    margin-right: 50px;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;


  
  
}

.statement {
   

  
}

.findtrend-header {
      margin-bottom: 50px;

}




.brand-container {
    margin-left: 135px;

  gap: 0px;
   width: 1000px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  
}


.brand {

  width: 21%;
  height:  100px;
  box-sizing: border-box;
  margin-right: 25px;
  margin-bottom: 25px;
  
 
  
  
}

.brand-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.faded-text {
  color: rgba(100, 100, 100, 0.5);
}

.social-media {
 display: flex;
    font-size: 32px;
    max-width: 2000px;
    background: rgb(250, 250, 250);
    flex-direction: column;
    align-items: center;

  /*Be sure to check that all pages have the same dimensions    */
}

.social-media-summary {
  text-align: center;

  padding-top: 55px;
}

.icons-container {
  margin-left: -18px;
  padding-top: 70px;
  gap:18px;

  display: flex;
  justify-content: space-evenly;
  
}

.icon {
}

.icons-container img {
}

.icon-image {
  height: 97px;
  width: 97px;
}

.tweets-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.trend-btn-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.trend-btn {
  padding-top: 13px;
  background: black;
  height: 29px;
  width: 158px;
  border-radius: 38px;
  font-size: 16px;
  text-align: center;
}

.deals {
  background: black;
  height: 920px;
}

.deals-header {
  padding-top: 100px;
  text-align: center;
  font-size: 48px;
  padding-bottom: 40px;
}

.choices {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: -33px;
}

.empty-button {
  background: #eeededf2;
  height: 44px;
  width: 82px;
  border-radius: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

.circle {
  margin-top: 4px;
  height: 35px;
  width: 35px;
  background: #a8ff35;
  border-radius: 50%;
  margin-left: 5px;
}

.yearly {
  opacity: 0.4;
}

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.deal-container {
  /*  row   */
  display: flex;
  justify-content: center;
  gap: 35px;
}

.deal-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
}

.personal {
  padding-bottom: 128px;
}

.regular {
  padding-bottom: 85px;
}

.deal-type {
  text-align: start;
  margin-left: 25px;
  border-bottom: solid 1px black;
  padding-bottom: 20px;
  padding-top: 30px;
  margin-right: 20px;
}

.start-trial-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 25px;
  padding-right: 10px;
  margin-bottom: 30px;
  text-align: center;
  padding-bottom: 0;
}

.start-trial-btn {
  text-align: center;
  border-radius: 5px;
  height: 35px;
  width: 220px;
  background: red;

  padding-top: 11px;
}

li {
  margin: 27px;
}

svg {
  margin-right: 2px;
  height: 10px;
  width: 10px;
}

.white {
  background: white;
}

.lime {
  background: rgb(168, 255, 53);
}

.black {
  background: black;
}

.per-month {
  font-size: 48px;
}

.white-text {
  color: white;
}

.join-page {
  display: flex;
  justify-content: center;
  height: 600px;
}

.join-us {
  font-size: 48px;
  /*   padding-top: 300px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.join-us h2:nth-child(2) {
  opacity: 0.5;
}

.join-btn-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.join-btn {
  margin-top: 50px;
  padding-top: 13px;
  background: black;
  height: 29px;
  width: 158px;
  border-radius: 38px;
  font-size: 16px;
  text-align: center;
}

.join-line {
  padding-left: 35px;
}

.footer {
  padding-top: 50px;
  background: white;
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.info {
  padding-top: 15px;
  width: 39%;
  display: flex;
  justify-content: space-between;
}

.footer-icon {
  width: 38%;
}

.black-lightning {
}

/* social media icons:
<a href="https://imgbb.com/"><img src="https://i.ibb.co/qdNfrmS/basketballicon.png" alt="basketballicon" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/tBxC0JR/Group-33.png" alt="Group-33" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/Sm69NNF/k-icon.png" alt="k-icon" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/phgQm9N/linkicon.png" alt="linkicon" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/vYx8hnW/medium-icon.png" alt="medium-icon" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/tX0py8y/pininterest-icon.png" alt="pininterest-icon" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/JWZ0wLS/reddit-icon.png" alt="reddit-icon" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/GngYHq0/tweet-icon.png" alt="tweet-icon" border="0"></a>
*/

/*
partner icons : 16:

<a href="https://imgbb.com/"><img src="https://i.ibb.co/wh4sNnK/airtable.png" alt="airtable" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/yFx49vD/algolia.png" alt="algolia" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/4fy0TtT/allanz.png" alt="allanz" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/brk2N2n/carrera.png" alt="carrera" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/nCqHLyv/coinbase.png" alt="coinbase" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/zbGGZ9S/expedia.png" alt="expedia" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/Fq7sV4v/suzuki.png" alt="suzuki" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/ZGTDY6W/upwork.png" alt="upwork" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/mHzJ24w/verizon.png" alt="verizon" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/Sm3D0Ft/volvo.png" alt="volvo" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/HgKBXpc/wetransfer.png" alt="wetransfer" border="0"></a>


<a href="https://imgbb.com/"><img src="https://i.ibb.co/Fq7sV4v/suzuki.png" alt="suzuki" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/m8wVY6D/microsoft.png" alt="microsoft" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/0q02wcF/magento.png" alt="magento" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/NssY5bs/heineken.png" alt="heineken" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/4fy0TtT/allanz.png" alt="allanz" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/25VZJCF/grab.png" alt="grab" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/Z1T57HB/boanaza.png " alt="boanaza" border="0"></a>

<a href="https://imgbb.com/"><img src="https://i.ibb.co/Dzbg6cY/11.png" alt="11" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/0myG370/13.png" alt="13"



social media icons:

https://ibb.co/6mHxWDM
https://ibb.co/2qsKzkJ
https://ibb.co/7pS6vvs
https://ibb.co/q17ZKW9
https://ibb.co/DrNYqSm
https://ibb.co/6BR58CS
https://ibb.co/sHT9LyL
https://ibb.co/mrp1VsP
https://ibb.co/0mP4sxc

*/
