* {
  padding: 0;
  margin: 0;
}

h1,
h3,
h3,
h4,
h5,
h6,
img,
nav,
button,
p,
ul,
li,
footer {
  padding: 0;
  margin: 0;
}

li,
ul {
  list-style: none;
}

body {
  max-width: 2500px;
  background: white;
  margin: 0;
}

.black-text {
  color: black;
}

.white-text {
  color: white;
}

.bg-white {
  background: white;
}

.bg-lime {
  background: rgb(168, 255, 53);
}

.bg-black {
  background: black;
}

.headline {
  font-size: 72px;
}

.navigation {
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-container {
  width: 15%;
  gap: 5px;
  display: flex;
  justify-content: start;
}

.nav-menu {
  width: 40%;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
}

.hidden-nav-menu {
  display: none;
}



.menu-item {
  margin-left: 20px;
}



.logo {
  height: 40px;
  width: 40px;
}

.find-trend {
  display: flex;
  align-items: center;
}

.btn-wrapper {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
}

.register-btn-wrapper {
}

.register-btn {
  text-align: center;

  padding-top: 10px;
  background: white;
  height: 28px;
  width: 130px;
  border-radius: 20px;
}

.second-line {
  padding-left: 22px;
}

.login {
  font-size: 14px;
}

.hero-background {
  background: url("https://i.ibb.co/kyGPSPY/Bg-hero-bkground.png") no-repeat
    center center;

  background-size: cover;
  max-width: 100%;
}

.font-color {
  color: gray;
}

.center-container {
  gap: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 200px;
}

.headline-bottom-margin {
  margin-bottom: 20px;
}

.font-margin-headline {
  margin-right: 50px;

  font-size: 64px;
}

.tabs-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 0;
  line-height: ;
  margin-right: 65px;
}

.line-two {
  padding-left: 30px;
}

.get-started-btn-wrapper {
  padding-left: 120px;
}

.get-started-btn {
   font-family: sans-serif;
    font-size: 21px;
    margin-top: 30px;
    text-align: center;
    padding-top: 10px;
    background: #a8ff35;
    height: 39px;
    width: 159px;
    border-radius: 21px;
    margin-right: 176px;
}

.hidden-menu-logo {
  display: none;
  height: 30px;
  width: 30px;
}

.menu-logo {
  display: none;
}

.banner-container {
  display: none;
}

.open-new-tabs {
  padding-top: 100px;

  background: #a8ff35;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-tabs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline-open-new-tabs {
  font-size: 72px;
}

.white-rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  height: 200px;
  width: 502px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 20px;
}

.black-rectangle {
  display: flex;
  justify-content: center;
  background: black;
  height: 80px;
  width: 340px;
}

.rectangle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightning-two {
  paddding-right: 10px;
  height: 30px;
}

.rectangle-text {
  font-weight: 500;
    font-size: 23.5px;
    position: relative;
    margin-left: 5px;
  position: relative;
  margin-left: 5px;
}

.close-tab-icon {

  fill: white;
  display: block ;
  height: 15px;
  width: 15px;
}

.pointer-one {
  display: none
}

.pointer-two {
  display: none;
}

.fader {
  position: absolute;
  top: 0;
  right: 0;

  width: 54px;
  height: 30px;
  border-radius: 5px;

  background: linear-gradient(
    to right,
    rgba(30, 30, 30, 0.81),
    rgba(0, 0, 0, 1)
  );
}

.original-paragraph-container {
  padding-bottom: 150px;
}

.hide-paragraph-container {
  display: none;
}

.caption-of-tab {
  font-size: 18px;
}

.caption-line-two {
  margin-left: 125px;
}

.product-font {
  font-size: 43px;
}

.description-container {
  
  padding-top: 100px;
 
  margin-bottom: 100px;
}

.title-brand-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}


.findtrend-header {
}


.findtrend-header-text {
  padding-right: ;
  margin-bottom: 15px;
}



.hidden-findtrend-header {
  display: none;
}

.product-container {
  display: flex;
  max-width: 2000px;
  margin-right: 50px;
  margin-bottom: 100px;
  flex-direction: column;
  align-items: center;
}



.findtrend-header {
  padding-left: 0;

}

.findtrend-makes {
  display: none;
}

.brand-container {
  max-width: 1200px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.brand {
  
  width: calc(25% - 30px);
      
     box-sizing: border-box;
    margin: 7.5px 15px;
}
}

.brand-image {
    width: 100%;
  object-fit: cover;
}

.faded-text {
  color: rgba(100, 100, 100, 0.5);
}

.social-media {
  display: flex;
  font-size: 32px;
  max-width: 2000px;
  background: rgb(250, 250, 250);
  flex-direction: column;
  align-items: center;

  /*Be sure to check that all pages have the same dimensions    */
}
/* !!!!!!! */

.social-media-summary {
  text-align: center;

  padding-top: 55px;
}

.icons-container {
    padding-top: 70px;
    gap: 25px;
    display: flex;
    justify-content: space-evenly;
}





.icon-image {
  
}

.tweets-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.trend-btn-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.trend-btn {
  padding-top: 13px;
  background: black;
  height: 29px;
  width: 158px;
  border-radius: 38px;
  font-size: 16px;
  text-align: center;
}

.deals {
  background: black;
}

.deal-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 0px;
}

.deals-header {
  padding-top: 100px;
  text-align: center;
  font-size: 48px;
  padding-bottom: 40px;
}

.choices {
  font-size: 24px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 33px;
}

.empty-button {
  background: #eeededf2;
  height: 44px;
  min-width: 82px;
  border-radius: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.circle {
  margin-top: 4px;
  height: 35px;
  width: 35px;
  background: #a8ff35;
  border-radius: 50%;
  margin-left: 5px;
}

.yearly {
  opacity: 0.4;
}

.deal-container {
  /*  row   */
  display: flex;
  justify-content: center;
  gap: 35px;
}

.deal-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  margin-bottom: 100px;
}

.personal {
  padding-bottom: 128px;
}

.regular {
  padding-bottom: 85px;
}

.deal-type {
  text-align: start;
  margin-left: 25px;
  border-bottom: solid 1px black;
  padding-bottom: 20px;
  padding-top: 30px;
  margin-right: 20px;
}

.start-trial-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 25px;
  padding-right: 10px;
  margin-bottom: 30px;
  text-align: center;
  padding-bottom: 0;
}

.start-trial-btn {
  text-align: center;
  border-radius: 20px;
  height: 35px;
  width: 220px;

  padding-top: 11px;
}

li {
  margin: 27px;
}

svg {
  margin-right: 2px;
  height: 10px;
  width: 10px;
}

.per-month {
  font-size: 48px;
}

.white-text {
  color: white;
}

.join-page {
  display: flex;
  justify-content: center;
}

.join-us {
  font-size: 48px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.join-us h2:nth-child(2) {
  opacity: 0.5;
  text-align: center;
}

.join-btn-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.join-btn {
  margin-top: 50px;
  padding-top: 13px;
  background: black;
  height: 29px;
  width: 158px;
  border-radius: 38px;
  font-size: 16px;
  text-align: center;
}

.join-line {
  padding-left: 35px;
}

.footer {
  padding-top: 50px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container {
  display: flex;
}

.footer-trend {
  padding-top: 4px;
  padding-left: 10px;
}

.info {
  padding-left: 150px;
  font-size: 12px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.info-item {
  font-size: 16px;
  margin: 0 25px;
}

.footer-icon {
  width: 38%;
}

.black-lightning {
}

.save-image {
  display: none;
}

@media screen and (max-width: 888px) {
  .logo {
    padding-left: 15px;
    height: 40px;
    width: 40px;
  }
  
 
  
 
  
  .hidden-nav-menu, .nav-menu  {
    display: none !important;
  }

  .logo-container {
    width: 15%;
    gap: 5px;
    display: flex;
    justify-content: center;
  }

  .find-trend {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  .login {
    display: none;
  }
  .register-btn-wrapper {
    display: none;
  }

  .hidden-menu-logo {
    margin-right: 15px;
    display: block;
  }

  .menu-logo {
    fill: white;
    display: none;
    padding-right: 15px;
    width: 35px;
    height: 35px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }

  .get-started-btn  {
        font-size: 19px;
    margin-top: 30px;
    text-align: center;
    padding-top: 10px;
    background: #a8ff35;
    height: 31px;
    width: 146px;
    border-radius: 20px;
    margin-right: 107px;
  }

  .headline {
    font-size: 36px;
  }

  .tabs-description {
    width: 280px; 
    font-size: 15px; 
    margin: 0; 
    line-height: 1.3; 
    padding-left: 13px;
  }
  
  .line-two {
    padding-left: 1px;
  }

  .banner-container {
    padding-top: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .banner-one {
    z-index: 11;
    position: relative;
    top: 25px;
  }

  .banner-two {
    z-index: 9;
    position: relative;
  }

  .banner-three {
    z-index: 4;
    position: relative;
    top: -34px;
  }

  .banner-four {
    z-index: 2;
    position: relative;
    top: -55px;
  }
}

/*  Open new tabs is sh*t!!! section */

@media screen and (max-width: 375px) {
  .headline-open-new-tabs {
    position: relative;
    font-size: 33px;
  }

  .tabs-container {
    display: block;
  }

  .white-rectangle {
    margin: 12px 10px;
    height: 118px;
    width: 325px;
  }

  .black-rectangle {
    height: 70px;
    width: 291px;
  }

  .lightning-two {
    height: 20px;
  }

  .caption {
    font-size: ;
    text-align: ;
    margin-bottom: ;
  }

  .original-paragraph-container {
    display: none;
  }

  .hide-paragraph-container {
        text-align: center;
    flex-direction: column;
    display: flex;
    padding-bottom: 150px;
    line-height: 1.3;
  }

  .pointer-one {
    height: 93px;
    width: 64px;
    position: relative;
    top: 70px;
    right: -65px;
    display: flex;
    flex-direction: column;
  }

  .up-arrow {
    height: 34px;
    width: 28px;
  }

  .down-arrow {
    height: 34px;
    width: 28px;
  }

  .pointer-two {
    height: 93px;
    width: 64px;
    position: relative;
    top: -29px;
    right: 86px;
    display: flex;
    flex-direction: column;
  }

  .need-one-tab {
    position: relative;
    top: 4px;
  }

  .solutions {
    position: relative;
    top: 4px;
    left: -31px;
  }

  .hide {
    display: none;
  }
}

/*
open tab images :
https://i.ibb.co/8MKPKbf/Arrow-03.png
https://i.ibb.co/3Yx6s76/Arrow-4.png
https://i.ibb.co/w6r1P4x/solution-for-discover-a-trend.png
https://i.ibb.co/Z2Fb8pz/You-just-need-one-tab-now.png
*/

/*  3rd page: startups page with company logos */

@media screen and (max-width: 375px) {
  .description-container {
    
    font-size: 24px;
  }
  
 
  
   .findtrend-header {
     
     
  }

  .product-container {
    margin-left: 15px;
    width: 375px;
  }

  .product-font {
    font-size: 26px;
  }

  

  .startup-line {
    font-size: 36px;
    margin-right: 65px;
  }

  .findtrend-makes {
    display: block;
    font-size: 36px;
    margin-right: 48px;
  }
  
 
  
  

  .brand-container {
     display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 335px;
  }

  .brand {
    width: calc(50% - 15px);
      
     box-sizing: border-box;
    margin: 7.5px 7px;
  }

  .brand-image {
    width: 100%;
    
  }
}

/* social media icons  */
@media screen and (max-width: 375px) {


  .social-media-summary {
    margin-left: 10px;
    font-size: 33px;
    text-align: center;
    padding-top: 55px;
  }
  
  

  .icons-container {
    
        overflow-x: scroll;

    

    padding-top: 40px;

    padding-left: 100px;

    width: 375px;
    margin-left: 136px;
    /* padding-top: 70px; */
    gap: 10px;
    display: flex;
  }

  .icon-image {
    height: 60px;
    width: 63px;
  }
  
  .tweets-container {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

  
}

@media screen and (max-width: 755px) {
  .deals-header {
    margin-left: -30px;
    font-size: 36px;
  }

  .choices {
    display: flex; align-items: center; margin-bottom: 30px; margin-left: 0; justify-content: space-around;
}

  .monthly,
  .yearly {
    font-size: 18px;
  }
  
  .monthly {
    margin-left: 84px;
  }
  
  .yearly {
    margin-right: 62px;
  }

  .save-image {
    position: relative;
    top: -39px;
    left: 240px;
    display: block;
    width: 63px;
    height: 65px;
  }
  
  .empty-button {
        padding-left: 48px;
    background: #eeededf2;
    height: 44px;
    width: 27px;
    border-radius: 18px;
    margin-left: 18px;
    margin-right: 18px;
}
  
  .circle {
        margin-top: 5px;
    height: 30px;
    width: 30px;
    background: #a8ff35;
    border-radius: 50%;
    margin-left: -10px;
}
  
  .save-image {
    position: relative;
    top: -38px;
    left: 240px;
    display: block;
    width: 63px;
    height: 65px;
}

 

  .deal-container {
    display: flex;
    flex-direction: column;
    width: 375px;
    margin-left: 20px;
    gap: 13px;
    margin-bottom: ;
  }
  
  
  .deal-box {
    margin-top: -20px;
    margin-left: -8px;
    width: 327px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 25px;
}
  
  .third-box {
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 375px) {
  .join-us {
    padding-top: 100px;
  }

  .join-line {
    width: 312px;
    font-size: 35px;
  }

  .join-btn-wrapper {
  }

  .join-line-two {
    margin-right: 16px;
  }
}

@media screen and (max-width: 917px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: ;
    height: 300px;
  }

  .info {
    font-size: 18px;
    gap: 40px;
    padding-left: 0;
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-top: 15px;
    text-align: center;
  }

  .footer-icon {
    display: flex;
    width: 15%;
    justify-content: center;
  }

  .footer-container {
    padding-right: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .info-item-bottom {
    margin-bottom: 50px;
  }
}

/* first page with menu. iphone  11 pro - X2   */



/*  Adjusting the size of the Register and Find trend button */


@media screen and (max-width: 807px) {
  
  .nav-menu {
    display: none;
  }
  
  
  .hidden-nav-menu {
    display: none;
  }
  
 
  
  
}

  
  
}
